/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* a {
  text-decoration: none;
} */

li {
  cursor: pointer;
  /* text-decoration: none; */
}

li:hover {
  color: lightblue;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}

nav {
  border: solid 0.5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav li {
  padding: 25px;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdowncontent {
  position: absolute;
  border: solid;
  padding: 10px;
  display: none;
}

/* dropdown */
.dropdown2 {
  position: relative;
}
.dropdowncontent2 {
  position: absolute;
  border: solid;
  padding: 10px;
  display: none;
}
